// These colors are specific to the theme. Do not use in a package!

@very-light-gray: #D2D4DE;
@light-gray: #73809C;
@gray: #36476C;
@dark-gray: #2B3242;
@very-dark-gray: #222733;

@cyan: #4FF4E0;
@blue: #3FB0FF;
@purple: #BC8FF5;
@green: #68E377;
@red: #FF7EA8;
@orange: #F0BB37;
@light-orange: #F5D582;


// 1
// @very-light-gray: #D2D4DE;
// @light-gray: #73809C;
// @gray: #36476C;
// @dark-gray: #2B3242;
// @very-dark-gray: #222733;
//
// @cyan: #7BF7CD;
// @blue: #3FB0FF;
// @purple: #BC8FF5;
// @green: #68E377;
// @red: #FF7EA8;
// @orange: #F0BB37;
// @light-orange: #F5D582;

// 2
// @very-light-gray: #D2D4DE;
// @light-gray: #73809C;
// @gray: #36476C;
// @dark-gray: #2B3242;
// @very-dark-gray: #222733;
//
// @cyan: #7BF7CD;
// @blue: #3FB0FF;
// @purple: #BC8FF5;
// @green: #41BB50;
// @red: #FF7EA8;
// @orange: #DDAC33;
// @light-orange: #F5D582;
